.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccb;
}

.search_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 18rem;
  height: 0.8em;
  border-radius: 28px;
  padding: 10px 10px 10px 20px;
  margin: 5px;
  background: #f5f3f3;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.66);
}

.search_input {
  border: none;
  background: transparent;
  outline: none;
  height: 100%;
}

.search_input_tag {
  border: none;
  background: transparent;
  outline: none;
  padding: 3px;
  border: 1px solid black;
  width: 15%;
}

.search_input::placeholder,
.search_icon {
  color: rgba(0, 0, 0, 0.4);
}

.search_icon:hover {
  cursor: pointer;
}

@media screen and (width <= 285px) {
  .search_container {
    width: 10rem;
  }
}
