@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bacground-color-header: #f5f4f2;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url("https://cdna.artstation.com/p/assets/images/images/000/390/646/4k/alex-gonzales-sr-paintover.jpg");
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #110f0f;
}

.link_section {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 5px 5px 5px;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.home_description {
  width: 60%;
  padding: 15px 5px 15px 5px;
  font-size: 0.8em;
  font-weight: bold;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.link_introduction {
  backdrop-filter: blur(2px);
  padding: 5px 5px 0 5px;
  border-radius: 10px;
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 0.3em;
  background-size: cover;
  display: flex;
  background-color: var(--bacground-color-header);
}

footer p {
  margin: 2px;
  padding: 0;
}

.home_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer img:hover {
  cursor: pointer;
}
